<h2>Backend API for the Angular 13 frontend</h2>
<p>Developed by Semen Shekhovtsov for Angular 13 application</p>
<p> Read the API description in the repository README file <a href='https://github.com/SamShekhovtsov/ror-backend-angular-13' target='_blank'>Repository README</a></p>
<p>
  The time is now: <%= Time.now %>
</p>